<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="module/app.js"></script>
</head>

<body ng-app="app" ng-controller="videoController">
    <div class="col-md-12 col-sm-12 col-xs-12 image" style="background-image: url('../assets/images/nav_bar.png')">
        <img class="col-md-1 col-sm-1 col-xs-1 backarrow img-responsive nopadd" src="..\assets\images\Back.png" />
        <div class="col-md-5 col-sm-5 col-xs-4 title nopadd">{{videoData.page.title}}</div>
        <div class="searchbox">
            <input type="search" placeholder="Search......" name="search" ng-model="searchword" class="searchbox-input" onkeyup="buttonUp();" required>
            <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <!-- <div class="col-md-5 col-sm-5 col-xs-6 searchbox">
            <!-- <input type="text" id="searchtext" ng-model="searchword" /> -->
        <!-- <img class="col-md-1 col-sm-1 col-xs-1 search img-responsive nopadd" src="..\assets\images\search.png" /> -->
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 totaldiv nopadd" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="y in tiles">
            <div class="col-md-4 col-sm-4 col-xs-4 tilediv nopadd" ng-repeat="x in y|filter:searchword">
                <img class="col-md-12 col-sm-12 col-xs-12 tileimg" ng-src="..\assets\images\{{x['poster-image']}}" />
                <div class="tiletitle col-md-12 col-sm-12 col-xs-12">{{x.name}}</div>
            </div>
        </div>
    </div>

</body>

</html>